.add-task-page{

  .item-input{
    background: transparent;
  }

  .small-title{
    text-align: center;
  }

  .line-side{
    border-bottom: 1px solid #666666;
    margin-bottom: 3%;
  }

  button{
    bottom: 4%;
    position: absolute;
  }

  .button-block{
    width: 90% !important;
    left: 5% !important;

  }

}
