// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.




@import "../pages/home/home";
@import "../pages/tasks/tasks";
@import "../pages/saved/saved";

ion-content{
  background-color: $main-background-color;
}

.toolbar-title{
  color: $main-color;
}

.tab-button[aria-selected=true]{
  color: $main-color;
}

.toolbar-background{
  background-color: #333333;
  border-bottom-width: 0;
}

ion-tabbar{
  background-color: #333333;
  border-bottom: 4px solid #2E2E2E !important;
}

ion-tabs[tabsPlacement=top] {
}
