<ion-header>
  <ion-toolbar>
    <ion-title id="task-title">Tasks</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="task-page">



  <ion-grid class="add-row">
    <ion-row end>
      <button ion-button tappable class="add-button" (click)="GoToAddPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>

  <ion-list class="list-row" *ngIf="FoodList">
    <ion-item-sliding class="list-slider" *ngFor="let i of FoodList">
      <ion-item class="list-item">
        <ion-icon class="single-icon" [ngStyle]="{'color': '#'+i.task_icon_color}" name="{{i.task_icon}}" item-left></ion-icon>
        <strong>{{i.task_name}}</strong>
        <h4 style="color: #ccc">{{i.task_description}}</h4>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success">
          <ion-icon name="mail"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>




</ion-content>

