.task-page{

  .add-row{
    position: relative;
  }

  .add-button{
    left: 80%;
    margin-right: 20px;
    margin-top: 20px;
  }

  .list-row{
    position: relative;
  }

  .list-item{
    background: transparent;
    color: #FFF;
  }
  .list-slider{
    background: transparent;
  }

  .single-icon{
    font-size: 5rem;
  }

}
