<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;" id="home-title">Add Task</ion-title>
    <ion-buttons>
      <button class="scan-button" ion-button icon-only (click)="GoBack()">Back</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="addhometask-container">


  <ion-list inset>
    <ion-item id="spinHimIn" style="opacity: 0" class="task-input" *ngIf="!takeOutFirstInput">
      <ion-label id="inputLabel" class="task-input-label">{{myCurrentTask.task_name}}</ion-label>
      <!--<ion-icon class="single-icon" [ngStyle]="{'color': '#'+i.task_icon_color}" name="{{i.task_icon}}" item-left></ion-icon>-->
      <ion-icon class="single-icon" [ngStyle]="{'color': '#'+myCurrentTask.task_icon_color}" name="{{myCurrentTask.task_icon}}" item-left></ion-icon>
    </ion-item>

    <ion-item class="task-input" *ngIf="takeOutFirstInput">
      <ion-label class="task-input-label" floating>Choose A Task</ion-label>
      <ion-input id="checkThisGuy" (focus)="openTaskList()" type="text"></ion-input>
    </ion-item>

    <ion-item class="task-input" >
      <ion-label class="task-input-label" floating>Start Time</ion-label>
      <ion-input #dateInput1 (focus)="openStartTime()" type="text"></ion-input>
      <ion-datetime [hidden]="true" #dateTime1 minuteValues="0,15,30, 45" displayFormat="h:mm A" pickerFormat="h mm A" #myChange1 (ionChange)="dateChanged1(myChange1)"></ion-datetime>
    </ion-item>

    <ion-item class="task-input" style="border-bottom:1px solid #fff" >
      <ion-label class="task-input-label" floating>End Time</ion-label>
      <ion-input #dateInput2 (focus)="openEndTime()" type="text"></ion-input>
      <ion-datetime [hidden]="true" #dateTime2 minuteValues="0,15,30, 45" displayFormat="h:mm A" pickerFormat="h mm A" #myChange2 (ionChange)="dateChanged2(myChange2)"></ion-datetime>
    </ion-item>

  </ion-list>

  <!--<ion-item [hidden]="true">-->
  <!--<div class="date-input">-->
    <!--<ion-label >Start Time</ion-label>-->
    <!--<ion-datetime #dateTime minuteValues="0,15,30, 45" displayFormat="h:mm A" pickerFormat="h mm A" #myChange (ionChange)="dateChanged(myChange.getValue())"></ion-datetime>-->
  <!--</div>-->
  <!--</ion-item>-->


  <!--<button ion-button tappable (click)="openDate()"></button>-->
  <button (click)="AddHomeTask()" ion-button tappable block color="danger" style="position: absolute; bottom: 10%">Next</button>

</ion-content>

