.addhometask-container{
  .date-input{
    position: relative;
    border-bottom: 1px solid #FFF;
  }

  .task-input{
    color: #FFF;
    background: transparent;
  }

  .task-input-label{
    text-align: center;
  }

  .single-icon{
    font-size: 45px;
  }

  #inputLabel{
    font-size: 22px;
  }


}
