<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;" id="home-title">Current Plan</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row>
    <ion-col><button block ion-button tappable (click)="GoToAddLocation()" color="secondary" small><span class="button-text" >Add</span></button></ion-col>
    <ion-col><button block ion-button tappable (click)="ClearPage()" color="danger" small><span class="button-text">Clear</span></button></ion-col>
  </ion-row>

  <div class="no-task-message" *ngIf="MessageAtAll">
    <h1 class="no-task-message-one" style="font-size: 2.5rem">Oh No!</h1>
    <h1 class="no-task-message-two">You have nothing planned for today</h1>
    <img class="sad-face" src="img/face.png">
  </div>

  <div *ngIf="!MessageAtAll">

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">12 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">1 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">2 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">3 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">4 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">5 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">6 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">7 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">8 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">9 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">10 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">11 AM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">12 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">1 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">2 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">3 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">4 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">5 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">6 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">7 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">8 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">9 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">10 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-33 class="line-side"></ion-col>
        <ion-col width-33 class="small-title" style="color: #666666">11 PM</ion-col>
        <ion-col width-33 class="line-side"></ion-col>
      </ion-row>
    </ion-grid>

  </div>



</ion-content>

